<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite" parallel="none">



<test name="Login" preserve-order="true">

		<classes>

			<class name="testCases.Loginfunctionality" />

		</classes>

	</test>



<test name="home" preserve-order="true">

		<classes>

			<class name="testCases.HomePage" />

		</classes>

	</test>

<test name="creation" preserve-order="true">

		<classes>

			<class name="testCases.CreationPage" />

		</classes>

	</test>
	


</suite> <!-- Suite -->



