<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite" parallel="none">



<test name="Login" preserve-order="true">

		<classes>

			<class name="testCases.Loginfunctionality" />

		</classes>

	</test>



<test name="home" preserve-order="true">

		<classes>

			<class name="testCases.HomePage" />

		</classes>

	</test>

<test name="creation" preserve-order="true">

		<classes>

			<class name="testCases.CreationPage" />

		</classes>

	</test>
	

<test name="Manage_Setting" preserve-order="true">

		<classes>

			<class name="testCases.SettingPage" />

		</classes>

	</test>


<test name="Ranking_Menu" preserve-order="true">

		<classes>

			<class name="testCases.RankingPage" />

		</classes>

	</test>

<test name="Billing_Menu" preserve-order="true">

		<classes>

			<class name="testCases.BillingPage" />

		</classes>

	</test>


<test name="Users_Menu" preserve-order="true">

		<classes>

			<class name="testCases.UsersMenu" />

		</classes>

	</test>


</suite> <!-- Suite -->



